#startButton {
	margin: auto 0;
	text-align: center;
}

.teamless {
	background-color: black;
}

.divHide {
	display: none;
}

.divShow {
	margin: auto;
	text-align: center;
}

body {
	background-image: url("background.jpg");
	background-position: top;
	background-repeat: no-repeat;
}

table {
	background-color: #000000;
	width: 100%;
}

td {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 14px;
	margin: 5px;
	text-align: center;
	width: 25%;
	height: 30px;
}

h1 {
	font-family: "Lucida Console", Monaco, monospace;
	text-align: center;
}

h2 {
	margin: 5px;
	font-size: 25px;
	font-family: "Arial Black", Gadget, sans-serif;
	color: white;
}

h3 {
	margin: auto;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 35px;
	color: blue;
}

th {
	width: 25%;
	height: 50px;
}

div {
	margin: auto;
	width: 75%;
	text-align: center;
}

form {
	margin: auto;
	text-align: center;
	width: 75%;
}

a {
	font-size: 30px;
	font-weight: bold;
}
