#p1 {
    color: red;
}

#p2 {
    color: blue;
}

#p3 {
    color: green;
}

#p4 {
    color: yellow;
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
}

table {
    margin: auto;
}

h3 {
    text-align: center;
}
